@tailwind base;
@tailwind components;
@tailwind utilities;
 
@layer base {
  :root {
    --background: 165 11% 8%; /* #151a19 */
    --foreground: 0 0% 98%;
 
    --card: 165 11% 12%; /* #1a2421 */
    --card-foreground: 0 0% 98%;
 
    --popover: 165 11% 8%;
    --popover-foreground: 0 0% 98%;
 
    --primary: 42 72% 63%; /* #e3b261 */
    --primary-foreground: 165 11% 12%;
 
    --secondary: 165 11% 12%; /* #1a2421 */
    --secondary-foreground: 0 0% 98%;
 
    --muted: 165 8% 24%;
    --muted-foreground: 0 0% 63.9%;
 
    --accent: 165 8% 24%; /* #3a4441 */
    --accent-foreground: 0 0% 98%;
 
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;

    --border: 165 8% 24%;
    --input: 165 8% 24%;
    --ring: 42 72% 63%;
 
    --radius: 0.5rem;

    --background-light: 165 9% 19%; /* #2a3431 */
    --background-dark: 165 12% 11%; /* #19201c */
    --border-color: 165 9% 15%; /* #232b27 */
  }
}
 
@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
    font-feature-settings: "rlig" 1, "calt" 1;
  }
}
